<!DOCTYPE html>
<html>
<head>
    <title>Sudoku Game</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="game-container">
        <div id="grid-container"></div>
        <div id="control-container">
            <h2 id="control-title">Select a number</h2>
        <div id="number-selector-container"></div>
        <button id="new-game">New Game</button>
        <button id="solve-game">Solve</button>
        <script src="/static/js/main.js"></script>
        </div>
    </div>
</body>
</html>
